parent.json
{
  "$connections": {
    "value": {
      "sql_0": {
        "connectionId": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/sql-10",
        "connectionName": "sql-10",
        "id": "/subscriptions/<<subscription-id>>/providers/Microsoft.Web/locations/westus2/managedApis/sql"
      }
    }
  },
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Execute_Sp_GetDeltaContacts": {
        "inputs": {
          "host": {
            "api": {
              "runtimeUrl": "https://logic-apis-westus2.azure-apim.net/apim/sql"
            },
            "connection": {
              "name": "@parameters('$connections')['sql_0']['connectionId']"
            }
          },
          "method": "post",
          "path": "/datasets/default/procedures/@{encodeURIComponent(encodeURIComponent('[sourcing].[GetDeltaContactsCount]'))}"
        },
        "runAfter": {},
        "type": "ApiConnection"
      },
      "Initialize_perIterationDataCount": {
        "inputs": {
          "variables": [
            {
              "name": "perIterationDataCount",
              "type": "Integer",
              "value": "@add(div(variables('totalRecords'), variables('totalParallelExecutions')),1)"
            }
          ]
        },
        "runAfter": {
          "Initialize_totalParallelExecutions": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Initialize_totalParallelExecutions": {
        "inputs": {
          "variables": [
            {
              "name": "totalParallelExecutions",
              "type": "Integer",
              "value": 10
            }
          ]
        },
        "runAfter": {
          "Initialize_totalRecords": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "Initialize_totalRecords": {
        "inputs": {
          "variables": [
            {
              "name": "totalRecords",
              "type": "Integer",
              "value": "@body('Execute_Sp_GetDeltaContacts')?['resultsets']?['Table1'][0]['DataCount']"
            }
          ]
        },
        "runAfter": {
          "Execute_Sp_GetDeltaContacts": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "sourcing-dev-contact-child": {
        "inputs": {
          "body": {
            "crmConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/dynamicscrmonline",
            "pageNumber": 1,
            "pageSize": "@variables('perIterationDataCount')",
            "sqlConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/sql-1"
          },
          "host": {
            "triggerName": "manual",
            "workflow": {
              "id": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Logic/workflows/sourcing-dev-contact-child"
            }
          },
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "Initialize_perIterationDataCount": [
            "Succeeded"
          ]
        },
        "type": "Workflow"
      },
      "sourcing-dev-contact-child_10": {
        "inputs": {
          "body": {
            "crmConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/dynamicscrmonline-9",
            "pageNumber": 10,
            "pageSize": "@variables('perIterationDataCount')",
            "sqlConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/sql-10"
          },
          "host": {
            "triggerName": "manual",
            "workflow": {
              "id": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Logic/workflows/sourcing-dev-contact-child"
            }
          },
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "Initialize_perIterationDataCount": [
            "Succeeded"
          ]
        },
        "type": "Workflow"
      },
      "sourcing-dev-contact-child_2": {
        "inputs": {
          "body": {
            "crmConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/dynamicscrmonline-1",
            "pageNumber": 2,
            "pageSize": "@variables('perIterationDataCount')",
            "sqlConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/sql-2"
          },
          "host": {
            "triggerName": "manual",
            "workflow": {
              "id": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Logic/workflows/sourcing-dev-contact-child"
            }
          },
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "Initialize_perIterationDataCount": [
            "Succeeded"
          ]
        },
        "type": "Workflow"
      },
      "sourcing-dev-contact-child_3": {
        "inputs": {
          "body": {
            "crmConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/dynamicscrmonline-2",
            "pageNumber": 3,
            "pageSize": "@variables('perIterationDataCount')",
            "sqlConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/sql-3"
          },
          "host": {
            "triggerName": "manual",
            "workflow": {
              "id": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Logic/workflows/sourcing-dev-contact-child"
            }
          },
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "Initialize_perIterationDataCount": [
            "Succeeded"
          ]
        },
        "type": "Workflow"
      },
      "sourcing-dev-contact-child_4": {
        "inputs": {
          "body": {
            "crmConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/dynamicscrmonline-3",
            "pageNumber": 4,
            "pageSize": "@variables('perIterationDataCount')",
            "sqlConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/sql-4"
          },
          "host": {
            "triggerName": "manual",
            "workflow": {
              "id": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Logic/workflows/sourcing-dev-contact-child"
            }
          },
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "Initialize_perIterationDataCount": [
            "Succeeded"
          ]
        },
        "type": "Workflow"
      },
      "sourcing-dev-contact-child_5": {
        "inputs": {
          "body": {
            "crmConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/dynamicscrmonline-4",
            "pageNumber": 5,
            "pageSize": "@variables('perIterationDataCount')",
            "sqlConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/sql-5"
          },
          "host": {
            "triggerName": "manual",
            "workflow": {
              "id": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Logic/workflows/sourcing-dev-contact-child"
            }
          },
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "Initialize_perIterationDataCount": [
            "Succeeded"
          ]
        },
        "type": "Workflow"
      },
      "sourcing-dev-contact-child_6": {
        "inputs": {
          "body": {
            "crmConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/dynamicscrmonline-5",
            "pageNumber": 6,
            "pageSize": "@variables('perIterationDataCount')",
            "sqlConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/sql-6"
          },
          "host": {
            "triggerName": "manual",
            "workflow": {
              "id": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Logic/workflows/sourcing-dev-contact-child"
            }
          },
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "Initialize_perIterationDataCount": [
            "Succeeded"
          ]
        },
        "type": "Workflow"
      },
      "sourcing-dev-contact-child_7": {
        "inputs": {
          "body": {
            "crmConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/dynamicscrmonline-6",
            "pageNumber": 7,
            "pageSize": "@variables('perIterationDataCount')",
            "sqlConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/sql-7"
          },
          "host": {
            "triggerName": "manual",
            "workflow": {
              "id": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Logic/workflows/sourcing-dev-contact-child"
            }
          },
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "Initialize_perIterationDataCount": [
            "Succeeded"
          ]
        },
        "type": "Workflow"
      },
      "sourcing-dev-contact-child_8": {
        "inputs": {
          "body": {
            "crmConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/dynamicscrmonline-7",
            "pageNumber": 8,
            "pageSize": "@variables('perIterationDataCount')",
            "sqlConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/sql-8"
          },
          "host": {
            "triggerName": "manual",
            "workflow": {
              "id": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Logic/workflows/sourcing-dev-contact-child"
            }
          },
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "Initialize_perIterationDataCount": [
            "Succeeded"
          ]
        },
        "type": "Workflow"
      },
      "sourcing-dev-contact-child_9": {
        "inputs": {
          "body": {
            "crmConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/dynamicscrmonline-8",
            "pageNumber": 9,
            "pageSize": "@variables('perIterationDataCount')",
            "sqlConnection": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Web/connections/sql-9"
          },
          "host": {
            "triggerName": "manual",
            "workflow": {
              "id": "/subscriptions/<<subscription-id>>/resourceGroups/src-dev-rg/providers/Microsoft.Logic/workflows/sourcing-dev-contact-child"
            }
          },
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "Initialize_perIterationDataCount": [
            "Succeeded"
          ]
        },
        "type": "Workflow"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "$connections": {
        "defaultValue": {},
        "type": "Object"
      }
    },
    "triggers": {
      "Recurrence": {
        "recurrence": {
          "frequency": "Day",
          "interval": 7
        },
        "type": "Recurrence"
      }
    }
  }
}